language: shell

services:
  - docker

install:
  - sudo apt-get remove -y docker docker-engine docker.io
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv EA312927
  - echo "deb http://repo.mongodb.org/apt/ubuntu trusty/mongodb-org/${MONGO_VERSION} multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-${MONGO_VERSION}.list
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get -qq update
  - sudo apt-get install -y docker-ce=${DOCKER_VERSION}
  - sudo apt-get install -y shunit2
  - sudo apt-get install -y mongodb-org-shell=${MONGO_VERSION}
  - docker build . -t martel/mongo-replica-ctrl:travis
  - docker swarm init
  - docker stack deploy -c test/docker-compose.yml ${STACK_NAME}

script:
  - sh test/ci-test-running-basic.sh
  - sh test/ci-test-scale-basic.sh

env:
  global:
    - STACK_NAME=mongo
  matrix:
    - MONGO_VERSION=3.6 DOCKER_VERSION=17.06.2~ce-0~ubuntu
    - MONGO_VERSION=3.4 DOCKER_VERSION=17.06.2~ce-0~ubuntu
    - MONGO_VERSION=3.2 DOCKER_VERSION=17.06.2~ce-0~ubuntu
    - MONGO_VERSION=3.0 DOCKER_VERSION=17.06.2~ce-0~ubuntu
    - MONGO_VERSION=3.6 DOCKER_VERSION=17.09.0~ce-0~ubuntu
    - MONGO_VERSION=3.4 DOCKER_VERSION=17.09.0~ce-0~ubuntu
    - MONGO_VERSION=3.2 DOCKER_VERSION=17.09.0~ce-0~ubuntu
    - MONGO_VERSION=3.0 DOCKER_VERSION=17.09.0~ce-0~ubuntu
    - MONGO_VERSION=3.6 DOCKER_VERSION=17.03.2~ce-0~ubuntu-trusty
    - MONGO_VERSION=3.4 DOCKER_VERSION=17.03.2~ce-0~ubuntu-trusty
    - MONGO_VERSION=3.2 DOCKER_VERSION=17.03.2~ce-0~ubuntu-trusty
    - MONGO_VERSION=3.0 DOCKER_VERSION=17.03.2~ce-0~ubuntu-trusty
